:root{
  --text: #849DD0;
  --background: #1D0D21;
  --formas: #38193F;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background: var(--background);
  min-height: 100vh;
}
