/* @import url('../styles/global.css'); */

header {
  width: 1200px;
  margin: auto;
  padding: 8px 10px;

}

#navbar {
  display: flex;
  justify-content: left;
  align-items: center;
}

#navbar img {
  width: 136px;
  height: 90px;
}

#navbar a {
  text-decoration: none;
}

#navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

nav ul li {
  color: var(--text);
  list-style-type: none;
  margin-right: 15px;
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 600;
}
nav ul li:hover{
  color: #6480b8;
}

nav ul li.limit{
  border-right: 1px solid var(--text);
  padding-right: 15px;  
}
