main .section1 {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
  margin-top: 150px;
}

.slogan h1 {
  color: #fff;
  font-family: "Poppins";
  font-size: 60px;
}

.slogan button:hover {
  color: #6480b8;
  border-color: #6480b8;
}

.image-box {
  position: absolute;
  right: 0;
  top: 0;
}

.image-box img {
  height: 549px;
  position: relative;
}

#section2 {
  width: 1200px;
  margin: auto;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

#section2 .triangle {
  width: calc(40% - 50px);
  height: 100%;
  padding: 2% 5%;
}

#section2 .content {
  width: calc(50% + 50px);
  height: 600px;
  background: var(--formas);
  transform: skew(10deg);
  position: relative;
}

#section2 .content .first_paragraph p {
  color: #fff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  transform: skew(-10deg);
  width: 450px;
  margin: auto;
  padding-top: 100px;
  text-align: left;
  line-height: 1.5;
}
#section2 .content .second_paragraph p {
  color: #fff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  transform: skew(-10deg);
  width: 450px;
  margin: auto;
  padding-top: 50px;
  text-align: left;
  line-height: 1.5;
}

#section2 .content .third_paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section2 .content .third_paragraph button {
  width: 200px;
  font-size: 15px;
  border: 5px solid var(--text);
  transform: skew(-10deg);
  position: relative;
  margin-right: 30px;
  margin-top: 100px;
}

#section2 .image-box2 img {
  position: absolute;
  right: 0;
  top:549px;
  width: 110px;
}

#section3 {
  display: flex;
  width: 1200px;
  height: 900px;
  margin: auto;
  margin-top: 60px;
  justify-content: space-between;
}

#section3 .triangle {
  width: calc(40% - 50px);
  height: 100%;
  padding: 2% 5%;
}

#section3 .content {
  width: calc(70% + 50px);
  height: 600px;
  background: var(--formas);
  border-left: 150px solid var(--background);
  border-bottom: 800px solid transparent;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

#section3 form {
  color: var(--text);
  width: 600px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#section3 form h1 {
  font-weight: 800;
  font-family: "Poppins";
  font-size: 35px;
  text-align: center;
  margin-top: 80px;
}

#section3 form input#name {
  margin-top: 80px;
}

#section3 form input {
  margin-top: 10px;
}

#section3 form .main-informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section3 form .main-informations input {
  width: 500px;
  padding: 8px 10px;
  border-radius: 10px;
  border: 3px solid var(--text);
  font-size: 16px;
  color: var(--text);
  font-weight: 800;
  text-align: center;
  background: none;
}
#section3 form .main-informations input::placeholder {
  color: var(--text);
}

#section3 form .other-informations {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: auto;
}

#section3 form .other-informations div:nth-child(2) {
  margin-left: 10px;
}

#section3 form .other-informations div {
  width: 500px;
}

#section3 form .other-informations div input {
  width: 240px;
  padding: 8px 10px;
  border-radius: 10px;
  border: 3px solid var(--text);
  font-size: 16px;
  color: var(--text);
  font-weight: 800;
  text-align: center;
  background: none;
}
#section3 form .other-informations div input::placeholder {
  color: var(--text);
}
#section3 form input#material {
  width: 500px;
  padding: 8px 10px;
  border-radius: 10px;
  border: 3px solid var(--text);
  font-size: 16px;
  color: var(--text);
  font-weight: 800;
  text-align: center;
  background: none;
}

#section3 form input#material::placeholder {
  color: var(--text);
}

#section3 form button {
  width: 200px;
  font-size: 15px;
  border: 3px solid var(--text);
  margin-top: 15px;
  transition: 0.3s;
}

#section3 form button:hover {
  background: var(--text);
  color: var(--background);
}

#section4 {
  width: 100%;
  height: 400px;
  background: var(--formas);
  display: flex;
  flex-direction: column;
  padding: 50px 0 20px 0;
  position: relative;
}
#section4 .about {
  display: flex;
  flex-direction: column;
  width: 600px;
}

#section4 .about span {
  font-size: 20px;
  font-weight: 600;
  color: var(--text);
  font-family: "Poppins";
  display: flex;
  align-items: center;
}
#section4 .about span::before {
  content: "";
  display: flex;
  position: relative;
  min-width: 250px;
  height: 1px;
  background-color: var(--text);
  margin-right: 10px;
}

#section4 .about p {
  color: #fff;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  padding: 5px 8px;
  margin-left: 50px;
}

#section4 .skills {
  display: flex;
  flex-direction: column;
  justify-content: top;
  position: absolute;
  right: 0;
  bottom: 40px;
  width: 600px;
}

#section4 .skills span {
  font-size: 20px;
  font-weight: 600;
  color: var(--text);
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 148px;
}
#section4 .skills span::after {
  content: "";
  display: flex;
  min-width: 300px;
  height: 1px;
  background-color: var(--text);
  margin-left: 10px;
}

#section4 .skills p {
  color: #fff;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  padding: 5px 8px;
  margin-right: 50px;
}

#section5 {
  width: 100%;
  height: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: var(--formas);
  position: relative;
}

#section5 h1 {
  color: var(--text);
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: left;
}

#section5 h1::before {
  content: "";
  display: flex;
  min-width: 300px;
  height: 1px;
  background-color: var(--text);
  margin-right: 10px;
}

#section5 #slider {
  width: 500px;
  height: 25vw;
  max-height: 350px;
  position: relative;
  align-self: center;
  margin-top: 4rem;
}

#section5 #slider .slider-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#section5 #slider .slider-div > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 800ms;
}

#section5 #slider .slider-div > p {
  font-size: 16px;
  color: #fff;
  font-family: "Poppins";
  font-weight: 600;
  position: absolute;
  bottom: calc(-100% + 85%);
  opacity: 0;

  transition: opacity 800ms;
}

#section5 #slider .slider-div img.selected,
#section5 #slider .slider-div p.selected {
  opacity: 1;
}

#section5 #slider .before > img {
  opacity: 1;
  position: absolute;
  right: -60px;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.3s;
}

#section5 #slider .before > img:hover {
  filter: brightness(0.8);
}

#section5 #slider .after > img {
  opacity: 1;
  position: absolute;
  left: -60px;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  cursor: pointer;
  transition: 0.3s;
}

#section5 #slider .after > img:hover {
  filter: brightness(0.8);
}

